* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url('./beach-bgr.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

section#nav-bar{
    background-color: black;
    padding: 2px;
    vertical-align: middle;
}

.top-nav{
    display: flex;
    color: white;
}

.travelBloom {
    margin-left: 30px;
    padding: 10px 20px 5px 20px;
}

h3{
    margin-bottom: auto;
    margin-top: auto;
    font-size: 30px;
}

.topLinks{
    display: flex;
    margin-left: 15%;
    padding: 12px 10px 10px 10px;
    font-size: 20px;
}

.top-nav a:hover{
    text-shadow: 1px;
    font-weight: bolder;
    text-decoration: underline;
    background-color: darkgreen;
}

.top-nav a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px 10px 5px 10px;
}

.search-bar{
    margin-right: 5px;
    padding: 18px 5px 5px 20px;
    vertical-align: middle;
    float: right;    
}

.button{
    font-size: 20px;
    border-radius: 60px;
    padding: 18px 5px 5px 20px;
    height: 0px;
}

.btn{
    background-color: darkcyan;
    border: 2px solid lightblue;
    border-radius: 30px;
    padding: 10px;
}

.btn:hover{
    background-color: darkcyan;
    border: 2px solid lightblue;
    color: whitesmoke;
    border-radius: 30px;
    padding: 10px;
}

.column {
    float: left;
    color: white;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.column.left {
    width: 10%;
    color: white;
    align-content: flex-end;
  }

.column.right {
    width: 90%;
    align-content: space-around;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.main-text {
    font-size: 10px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
     color: white;
}
  
.fa-twitter {
    color: white;
}

.fa-flickr {
    color: white;
}

.fa-feed {
    color: white;
}

.fa-youtube {
    color: white;
}